<div class="card col-8 mb-3 mx-auto">
    <div class="card-body">
        <div class="card-title">
            {{!-- have href link to individual post pages --}}
            <a href="/post/{{id}}">{{title}}</a>
        </div>
        <div class="card-text">
            <p>{{body}}</p>
            <p class="blockquote-footer">by <a href="/userpage/{{user.id}}">{{user.username}}</a> on
            {{format_date created_at}}</p>
        </div>
        <div class="footer"> 
            {{#if loggedIn}}
            {{vote_count}} {{format_plural "like" vote_count}}
            |
            <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
            <div class="col-12"></div>
            <button id="like-button" class="btn">like</button>
            <button id="comment-button" class="btn">comment</button>
            {{else}}
            {{vote_count}} {{format_plural "like" vote_count}}
            |
            <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
            <div class="col-12"></div>
            <a id="like-button" class="btn" href="/login" target="_blank">like</a>
            <a id="comment-button" class="btn" href="/login" target="_blank">comment</a>
            {{/if}}
        </div>
    </div>
</div>