<div class="card mb-3 mx-auto">
    <div class="card-body">
        <div class="card-title">
            {{!-- have href link to individual post pages --}}
            <a href="/post/{{id}}">{{title}}</a>
        </div>
        <div class="card-text">
            <p>{{body}}</p>
            <p class="blockquote-footer">by <a href="/userpage/{{user.id}}">{{user.username}}</a> on
            {{format_date created_at}}</p>
        </div>
        <div class="footer"> 
            {{vote_count}} {{format_plural "like" vote_count}}
            |
            <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
            <div class="col-12"></div>
            <button type="button" class="btn upvote-btn">Like</button>
            <a id="comment-button" class="btn" href="/post/{{id}}">Comment</a>
        </div>
    </div>
</div>