<div class="row">
    <div class="card col-11 col-md-9 mb-3 mx-auto small-margin">
        <div class="card-body">
            <div class="card-title">
                {{!-- have href link to individual post pages --}}
                <a>Title:</a>
                <input id="post-title" class="col-12" style="margin-top: 2vh" value="{{post.title}}"></input>
            </div>
            <div class="card-text">
                <a>Body:</a>
                <textarea id="post-body" class="col-12" style="margin-top: 1vh">{{post.body}}</textarea>
                <p class="blockquote-footer">by <a href="/userpage/{{post.user.id}}">{{post.user.username}}</a> on
                    {{format_date post.created_at}}</p>
            </div>
            <div class="footer">
                {{post.vote_count}} {{format_plural "like" post.vote_count}}
                |
                <a href="/post/{{post.id}}">{{post.comments.length}}
                    {{format_plural "comment" post.comments.length}}</a>
                </br>
                <button class="btn edit-post-form btn-warning col-6 col-md-2"></span><span
                        class="oi oi-pencil"></span> Save</button>
            </div>
        </div>
    </div>
</div>
<script src="/javascript/edit-post.js"></script>