<div class="row">
    <div class="card col-12 col-md-9 mb-3 mx-auto" style="margin-top: 1vh">
        <div class="card-body">
            <div class="card-title">
                {{!-- have href link to individual post pages --}}
                <a href="/post/{{post.id}}">{{post.title}}</a>
            </div>
            <div class="card-text">
                <p>{{post.body}}</p>
                <p class="blockquote-footer">by <a href="/userpage/{{post.user.id}}">{{post.user.username}}</a> on
                    {{format_date post.created_at}}</p>
            </div>
            <div class="footer">
                {{post.vote_count}} {{format_plural "like" post.vote_count}}
                |
                <a href="/post/{{post.id}}">{{post.comments.length}}
                    {{format_plural "comment" post.comments.length}}</a>
                {{#if loggedIn}}
                <textarea name="comment-body" class="col-12"></textarea>
                <button id="upvote-btn" class="btn">Like</button>
                <button id="comment-button" class="btn">Comment</button>
                {{/if}}
            </div>
        </div>
    </div>
</div>
<div class="mx-auto col-12 col-md-8 mb-3">
{{> comments post.comments }}
</div>

<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>